<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue CRUD App</title>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app">
  <div v-if="!user">
    <label for="username">Username:</label>
    <input type="text" v-model="loginData.username" required>
    <label for="password">Password:</label>
    <input type="password" v-model="loginData.password" required>
    <button @click="login">Login</button>
  </div>
  <div v-else>
    <button @click="logout">Logout</button>
    <h2>Welcome, {{ user.username }}!</h2>

    <form @submit.prevent="saveUser">
      <label for="username">Username:</label>
      <input type="text" v-model="newUser.username" required>
      <button type="submit">{{ editingUser ? 'Update' : 'Add' }} User</button>
    </form>

    <ul>
      <li v-for="user in userList" :key="user.id">
        {{ user.username }}
        <button @click="editUser(user)">Edit</button>
        <button @click="deleteUser(user.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>

<script>
new Vue({
  el: '#app',
  data: {
    user: null,
    userList: [],
    newUser: { username: '' },
    editingUser: null,
    loginData: { username: '', password: '' },
    passwordForDemoUser: 'Shukla'
  },
  mounted() {
    this.getUsers();
  },
  methods: {
    async getUsers() {
      const response = await fetch('http://localhost:3000/users');
      this.userList = await response.json();
    },
    async login() {
      const { username, password } = this.loginData;

      
      if (username === 'Anshika' && password === this.passwordForDemoUser) {
        this.user = { username: 'DemoUser' };
        await this.getUsers(); 
      } else {
        alert('Invalid username or password.');
      }
    },
    async logout() {
      this.user = null;
      this.userList = [];
    },
    async editUser(user) {
      this.editingUser = user;
      this.newUser.username = user.username;
    },
    async saveUser() {
      if (this.editingUser) {
       
        const response = await fetch(`http://localhost:3000/users/${this.editingUser.id}`, {
          method: 'PUT',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ username: this.newUser.username })
        });
      } else {
       
        const response = await fetch('http://localhost:3000/users', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ username: this.newUser.username })
        });
      }

      await this.getUsers(); 

      
      this.newUser.username = '';
      this.editingUser = null;
    },
    async deleteUser(userId) {
     
      const response = await fetch(`http://localhost:3000/users/${userId}`, {
        method: 'DELETE'
      });

      await this.getUsers(); 
    }
  }
});
</script>

</body>
</html>
