<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue CRUD App</title>
  <!-- Add Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app">
 
  <div v-if="!user">
    <button @click="login">Login</button>
  </div>
  <div v-else>
    <button @click="logout">Logout</button>
    <button @click="deleteAllUsers">Delete All Users</button>
  </div>

  
  <div v-if="user">
    <h2>Welcome, {{ user.username }}!</h2>

    
    <ul>
      <li v-for="user in userList" :key="user.id">
        {{ user.username }}
        <button @click="editUser(user)">Edit</button>
        <button @click="deleteUser(user.id)">Delete</button>
      </li>
    </ul>

    
    <form @submit.prevent="saveUser">
      <label for="username">Username:</label>
      <input type="text" v-model="newUser.username" required>
      <button type="submit">{{ editingUser ? 'Update' : 'Add' }} User</button>
    </form>
  </div>
</div>

<script>
new Vue({
  el: '#app',
  data: {
    user: null,
    userList: [],
    newUser: { username: '' },
    editingUser: null
  },
  mounted() {
  
    const storedUserList = localStorage.getItem('userList');
    if (storedUserList) {
      this.userList = JSON.parse(storedUserList);
    }
  },
  methods: {
    login() {
     
      this.user = { username: 'Users' };
    },
    logout() {
      this.user = null;
    },
    editUser(user) {
      this.editingUser = user;
      this.newUser.username = user.username;
    },
    saveUser() {
      if (this.editingUser) {
        this.editingUser.username = this.newUser.username;
      } else {
        const newUser = {
          id: this.userList.length + 1,
          username: this.newUser.username
        };
        this.userList.push(newUser);
      }

     
      localStorage.setItem('userList', JSON.stringify(this.userList));

      this.newUser.username = '';
      this.editingUser = null;
    },
    deleteUser(userId) {
      this.userList = this.userList.filter(user => user.id !== userId);
    
      localStorage.setItem('userList', JSON.stringify(this.userList));
    },
    deleteAllUsers() {
      this.userList = [];
      
      localStorage.setItem('userList', JSON.stringify(this.userList));
    }
  }
});
</script>

</body>
</html>













